<div class="example-container">
    <mat-form-field hintLabel="Max 10 characters" appearance="fill">
      <mat-label>Enter some input</mat-label>
      <input matInput #input maxlength="10" placeholder="Ex. Nougat">
      <mat-hint align="end">{{input?.value?.length || 0}}/10</mat-hint>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Select me</mat-label>
      <mat-select>
        <mat-option value="option">One</mat-option>
        <mat-option value="option">Thing</mat-option>
        <mat-option value="option">Body</mat-option>
      </mat-select>
      <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
    </mat-form-field>
  </div>
  
  <!-- Dynamic grid-list -->

  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile *ngFor="let tile of tiles"
    [colspan]="tile?.cols"
    [rowspan]="tile?.rows"
    [style.background]="tile?.color">
      {{tile?.text}}
    </mat-grid-tile>
  </mat-grid-list>

  <!-- Basic icons -->
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>

  <!-- SVG icons -->
  <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>