<!-- <h1>{{ title }}</h1> 
<div> 
   The summation of numbers ( <span *ngFor="let num of numbers"> {{ num }} </span> ) is {{ val1 }} 
</div> 
<div> 
   The summation of filtered numbers ( <span *ngFor="let num of filteredNumbers"> {{ num }} </span> ) is {{ val2 }} 
</div> 
<div> 
   The summation of processed numbers ( <span *ngFor="let num of processedNumbers"> {{ num }} </span> ) is {{ val3 }} 
</div> 
<div> 
   The response from the API is <em>{{ apiMessage }}</em> </div> 
<div> 
   <a id="counter" href="#">Click here</a> to increment the counter value. The current counter value is {{ counter }} 
<div> -->

<!-- <h1>RxJS playground</h1>

<p>Open the console below to see results</p> -->
 
<!-- <div id="app">
   <h4>
      Time remaining: <span id="remaining"></span>
   </h4>
   <button id="pause">
      Pause Timer
   </button>
   <button id="resume">
      Resume Timer
   </button>
</div> -->

<!-- <div class="app"></div> -->

<button id='continued'>error and continue listening</button> <br/><br/>
<button id='stopped'>error and stop listening</button>