<mat-slider min="1" max="100" step="1" value="50"></mat-slider>

<button mat-button [matMenuTriggerFor]="aboveMenu">Above</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="belowMenu">Below</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="beforeMenu">Before</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item>Selection 1</button>
  <button mat-menu-item>Selection 2</button>
  <button mat-menu-item>Selection 3</button>
  <button mat-menu-item>Selection 4</button>
</mat-menu>


<button mat-button [matMenuTriggerFor]="afterMenu">After</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
  <button mat-menu-item>After Position 001</button>
  <button mat-menu-item>After Position 002</button>
  <button mat-menu-item>After Position 003</button>
</mat-menu>


<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Cat</mat-card-title>
        <mat-card-subtitle>Cat Monila</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://images.app.goo.gl/a5F3wYseBts4Zocp8"
    alt="Photo of a Cat Monila">
    <mat-card-content>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus obcaecati quaerat quae distinctio vero deleniti amet debitis sit consequuntur eos dolores perferendis facilis incidunt harum rerum veritatis id, inventore necessitatibus.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>Share</button>
    </mat-card-actions>
</mat-card>

<section class="example-section">
    <mat-checkbox class="example-margin">Check me!</mat-checkbox>
    <mat-checkbox class="example-margin" [disabled]>Disabled</mat-checkbox>
</section>

<section class="example-section">
    <span class="example-list-section">
        <mat-checkbox class="example-margin"
                        [checked]="allComplete"
                        [color]="task.color"
                        [indeterminate]="someCompleted()"
                        (change)="setAll($event.checked)">
                    {{task.name}}
                </mat-checkbox>
    </span>
    <span class="example-list-section">
        <ul>
            <li *ngFor="let subtask of task.subtasks">
                <mat-checkbox [(ngModel)]="subtask.completed"
                [color]="subtask.color"
                (ngModelChange)="updateAllComplete()">
                    {{subtask.name}}
                </mat-checkbox>
            </li>
        </ul>
    </span>
</section>

<!-- ChipList -->
<mat-form-field class="example-chip-list" appearance="fill">
    <mat-label>Favorite Fruits</mat-label>
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip
        *ngFor="let fruit of fruits"
        (removed)="remove(fruit)">
        {{fruit}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="New fruit..."
        #fruitInput
        [formControl]="fruitCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
        {{fruit}}
      </mat-option>
    </mat-autocomplete>
</mat-form-field>

<!-- Date Picker -->

<mat-form-field color="accent" appearance="fill">
    <mat-label>Inherited Calendar Color</mat-label>
    <input matInput [matDatepicker]="picker1">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>

<mat-form-field color="accent" appearance="fill">
  <mat-label>Custom calendar color</mat-label>
  <input matInput [matDatepicker]="picker2">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2 color="primary"></mat-datepicker>
</mat-form-field>

<!-- Basic divider -->
<mat-list>
    <mat-list-item>Item 1</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Item 2</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Item 3</mat-list-item>
    <mat-divider></mat-divider>
</mat-list>


<!-- Accordion with expand/collapse all toggles -->

<div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
  </div>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal data
        </mat-panel-title>
        <mat-panel-description>
          Type your name and age
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field appearance="fill">
        <mat-label>First name</mat-label>
        <input matInput>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Age</mat-label>
        <input matInput type="number" min="1">
      </mat-form-field>
  
    </mat-expansion-panel>
    <mat-expansion-panel disabled>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Destination
        </mat-panel-title>
        <mat-panel-description>
          Type the country name
          <mat-icon>map</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field appearance="fill">
        <mat-label>Country</mat-label>
        <input matInput>
      </mat-form-field>
    </mat-expansion-panel>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Day of the trip
        </mat-panel-title>
        <mat-panel-description>
          Inform the date you wish to travel
          <mat-icon>date_range</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
      </mat-form-field>
      <mat-datepicker #picker></mat-datepicker>
    </mat-expansion-panel>
  </mat-accordion>
  
  